/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

*.a
*.so
*.dylib
*.dll
*.lib

*.exe
*.pdb
*.exp

*.res

# executables
basic_area
basic_button
basic_date_time_picker
basic_draw_text
basic_entry
basic_font_button
basic_multiline_entry
basic_table
basic_window
control_gallery