/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

*.so
*.dylib
*.dll
*.lib

*.exe
*.pdb

# executables
basic_button
basic_entry
basic_window
